<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/layout}">
<head>
	<th:block th:replace="inc/headcss::headcss">
	</th:block>
	<title>회원 가입</title>
</head>
<body>

     <div th:replace="inc/header::header"></div>
     <div id="wrapper" >
     <div>
		<h5>회원가입</h5>
		<form th:action="@{/joinOk}" method="post" th:object="${memberForm}">
		  <div>
				<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
					<div th:each="err:${#fields.allErrors()}" th:text="${err}"></div>
				</div>	
			</div>		
			<div>
				<label class="form-label">아이디</label>
				<input type="text" name="muserid" class="form-control" th:field="*{muserid}">
			</div>
			<div>
				<label class="form-label">이름</label>
				<input type="text" name="musername" class="form-control" th:field="*{musername}">
			</div>
			<div>
				<label class="form-label">비밀번호</label>
				<input type="password" name="mpw" class="form-control" th:field="*{mpw}"></textarea>
			</div>
			<div>
				<label class="form-label">이메일</label>
				<input type="text" name="memail" class="form-control" th:field="*{memail}">
			</div>
			<input type="submit" value="회원가입" class="btn btn-primary my-2">
			<input type="text" value="취소" class="btn btn-primary" th:onclick="|location.href='@{/index}'|" style="width:60px">
		</form>	
	</div>	
</div>	
<div th:replace="inc/footer::footer"></div>
	
</body>
</html>